<h1>Hello <%= current_user.name %>!</h1>

<table>
<legend>Connections - Pride 2020</legend>
<thead>
    <tr>
        <th>Names</th>
        <th>Handle</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
</thead>
<tbody>
<% @connections.each do |c| %>
    <tr>
        <td><u><%= link_to c.names, connection_path(c) %></u></td>
        <td><%= c.insta %></td>
        <td><%= truncate c.memory, length: 28 %></td>
    </tr>
    <% end %>
</tbody>
</table>

<%= button_to "New Connection", new_connection_path, :method => "get", :class => "btn" %>



