<h1><%= @connection.names %></h1>
<h2><%= @connection.insta %></h2>
<p><%= @connection.memory %></p>

<div class="button-group">
<%= button_to "Back", connections_path, method: "get", :class => "btn"%>
<%= button_to "Delete", connection_path(@connection), method: "delete", :class => "btn"%>
</div>


